/* some style */

li {
  background-color: green;
  width: 120px;
  height: 120px;
  float: left;
  margin: 10px;
  text-align: center;
  list-style: none;
  overflow: hidden;
}

img {
  height: 120px;
}

.gameboard{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score{
  float: left;
}
